body{
    margin:0;
    background-color: #FFF;
    color: #333;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

.head{
    margin: 0 auto;
    font-size: 200%;
    padding: 20px 20px;
    max-width: 980px;
    text-align: center;
}

nav{
    background-color: #161c27;
    padding: .5em;
    top: 0;
    position: sticky;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none; 
    display: flex;
    justify-content: space-around;
}


nav a{
    text-decoration: none;
    color: #FFF;
    padding: .5em 1em;
}

.gallery ul{list-style-type: none;}

.gallery li {display: inline;}

.gallery{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.heading{margin: 40px 0px 0px 40px;}

footer{
background-color: #161c27;
padding: 0;
color: #FFF;
color: rgba(255, 255, 255, 0.6);
text-align: center;
padding: 16px;

}

strong{
    color: #FFF;
}
a{text-decoration: none;}